:root{
    --main-color: #1566C0;
}

/* HEADER */

.top-container{
    height: 300px;
}

.maincontainer{
    background-image: url(./media/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;
    height: 550px;
}


.main-title{
    font-family: 'Righteous', 'cursive';
}

.subtitle{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn-more{
    font-weight: 600;
    width: 100px;
    border: none;
    font-size: 14px;
}

.btn-more:hover{
    color: var(--main-color);
}

.little-title{
    color: var(--main-color);
    font-family: 'Righteous', 'cursive';
    font-size: 20px;
    padding-top: 60px;
}

.white-wave-section{
    margin-top: 28px;
    background-image: url(./media/wave2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 1px;
}

.gray-wave-bg{
    margin-top: 50px;
    background-image: url(./media/wave1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 10px;
}

.header-element{
    padding-top: 0px;
}


/* SEZIONE B */
.boxsha{
    box-shadow: 5px 5px 20px #232323;
}
    
.verylittle{
    color: var(--main-color);
    font-family: 'Righteous', 'cursive';         font-size: 22px;
    height: 30px;
    font-weight: 600;
}


/* MEDIA QUERY */

@media screen and (min-width: 220px) {
    .maincontainer{
        height: 520px;
    }
}

@media screen and (min-width: 300px) {
    .little-title{
        font-size: 25px;
        padding-top: 80px;
    }
}

@media screen and (min-width: 576px) {
    .header-element{
        padding-top: 50px;
    }

    .maincontainer{
        height: 570px;
    }
}

@media screen and (min-width: 768px) {
    .maincontainer{
        height: 580px;
    }
    .little-title{
        font-size: 30px;
        padding-top: 120px;
    }
}

@media screen and (min-width: 992px) {
    .little-title{
        font-size: 30px;
        padding-top: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .little-title{
        font-size: 35px;
        padding-top: 170px;
    }
}

@media screen and (min-width: 1400px) {
    .little-title{
        font-size: 35px;
        padding-top: 190px;
    }
}