:root{
    --main-color: #1566C0;
}

/* HEADER + WAVE SECTION*/

.top-container{
    height: 300px;
}

.maincontainer{
    background-image: linear-gradient(180deg, black 25%, rgba(255,255,255,0)), url(./media/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;
    height: 550px;
}

.main-title{
    font-family: 'Righteous', 'cursive';
}

.subtitle{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.btn-more{
    font-weight: 600;
    width: 100px;
    border: none;
    font-size: 14px;
}

.btn-more:hover{
    color: var(--main-color);
}

.little-title{
    color: var(--main-color);
    font-family: 'Righteous', 'cursive';
    font-size: 22px;
    padding-top: 60px;
}

.white-wave-section{
    margin-top: 28px;
    background-image: url(./media/wave2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    top: 1px;
}

.gray-wave-bg{
    margin-top: 50px;
    background-image: url(./media/wave1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px 10px;
}

.header-element{
    padding-top: 0px;
}

/* CARDS */

.card{
    height: 150px;
    width: 150px;
    position: relative;
}

.card-elements{
    display: flex;
    justify-content: center;
}

.card1{
    background-image: linear-gradient(to bottom, #000000, #000000b2 20%, #00000042 50%, #000000b2 70%, #000000 100%), url(./media/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2{
    background-image: linear-gradient(to bottom, #000000, #000000b2 20%, #00000042 50%, #000000b2 70%, #000000 100%), url(./media/2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card3{
    background-image: linear-gradient(to bottom, #000000, #000000b2 20%, #00000042 50%, #000000b2 70%, #000000 100%), url(./media/3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card4{
    background-image: linear-gradient(to bottom, #000000, #000000b2 20%, #00000042 50%, #000000b2 70%, #000000 100%), url(./media/4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testo-card{
    color: white;
    font-family: 'Righteous', 'cursive';
}

hr.card-line{
    color: rgb(255, 208, 0);
    height: 2px;
    width: 90%;
    position: absolute;
    bottom: 90px;
    opacity: 100;
}

.testino{
    font-size: 8px;
    position: absolute;
    bottom: 8px;
    padding-right: 8px;
    margin-bottom: 12px;
}


/* SEZIONE B */

.very-little{
    color: var(--main-color);
    font-family: 'Righteous', 'cursive';
    font-size: 18px;
    height: 30px;
    font-weight: 500;
    margin-bottom: 0px;
}

h5.very-little{
    position: absolute;
    top: 10px;
}

.subtitle2{
    font-size: 12px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 35px;
    right: 12px;
    left: 12px;
}

.box-shad{
    box-shadow: 2px 2px 8px #b5b3b3af;
    width: 320px;
    height: 120px!important;
    border-radius: 12px;
    border-style: none;
}

.icons-row{
    justify-content: space-evenly;
}

.main-icons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
    max-width: 400px;
}

.icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 8px #b5b3b3af;
    width: 48px;
    height: 48px!important;
    border-radius: 12px;
    border-style: none;
}

/* SEZIONE C + D */

.c-d-sections-icons{
    color: var(--main-color);
}

.c-d-sections-cards1{
    height: 110px!important;
    box-shadow: 2px 2px 8px #b5b3b3af;
    border-radius: 12px;
    border-style: none;
    display: flex;
    justify-content: flex-end;
}

.c-d-sections-cards2{
    height: 90px!important;
    box-shadow: 2px 2px 8px #b5b3b3af;
    border-radius: 12px;
    border-style: none;
    display: flex;
    justify-content: flex-end;
    width: 125px;
}

.c-d-content{
    position: relative;
    padding-left: 10px;
}

.c-d-content p{
    position: absolute;
    bottom: 8px;
    margin-bottom: auto;
    font-size: 10px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.c-d-content div{
    position: absolute;
    bottom: 50px;
    margin-bottom: auto;
}

.c-d-content i{
    position: absolute;
    bottom: 82px;
    margin-bottom: auto;
}

.c-d-content2{
    position: relative;
    padding-left: 10px;
}

.c-d-content2 p{
    position: absolute;
    bottom: 8px;
    margin-bottom: auto;
    font-size: 10px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.c-d-content2 div{
    position: absolute;
    bottom: 30px;
    margin-bottom: auto;
}

.c-d-content2 i{
    position: absolute;
    bottom: 62px;
    margin-bottom: auto;
}

.c-d-number{
    font-size: 20px!important;
    font-family: 'Righteous', 'cursive';
    font-weight: 700;
}

.c-d-second-row{
    margin-left: 20px!important;
}

.c-d-fourth-row{
    margin-right: 20px!important;
}

.c-d-second-row-width{
    width: 180px!important;
    height: 95px!important;
}

.c-d-number2{
    font-size: 18px!important;
    font-family: 'Righteous', 'cursive';
    font-weight: 700;
}

.c-d-content3{
    position: relative;
    padding-left: 10px;
}

.c-d-content3 p{
    position: absolute;
    bottom: 8px;
    margin-bottom: auto;
    font-size: 10px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 12px;
}

.c-d-content3 div{
    position: absolute;
    bottom: 44px;
    margin-bottom: auto;
}

.c-d-content3 i{
    position: absolute;
    bottom: 72px;
    margin-bottom: auto;
}

.c-d-content4{
    position: relative;
    padding-left: 10px;
}

.c-d-content4 p{
    position: absolute;
    bottom: 8px;
    margin-bottom: auto;
    font-size: 10px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.c-d-content4 div{
    position: absolute;
    bottom: 26px;
    margin-bottom: auto;
}

.c-d-content4 i{
    position: absolute;
    bottom: 55px;
    margin-bottom: auto;
}

.c-d-sections-cards3{
    height: 80px!important;
    box-shadow: 2px 2px 8px #b5b3b3af;
    border-radius: 12px;
    border-style: none;
    display: flex;
    justify-content: flex-end;
    min-height: 80px!important;
    width: 120px;
}

.c-d-content5{
    position: relative;
    padding-left: 10px;
}

.c-d-content5 p{
    position: absolute;
    bottom: 8px;
    margin-bottom: auto;
    font-size: 10px!important;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-right: 12px;
}

.c-d-content5 div{
    position: absolute;
    bottom: 55px;
    margin-bottom: auto;
}

.c-d-content5 i{
    position: absolute;
    bottom: 82px;
    margin-bottom: auto;
}



/* SEZIONE E */

.box-shad2{
    box-shadow: 2px 2px 8px #b5b3b3af;
    width: 40%;
    min-width: 320px;
    max-width: 450px;
    height: 120px!important;
    border-radius: 12px;
    border-style: none;
    margin-left: 24px!important;
}

.round-pic{
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}

.border-border{
    width: 162px;
    height: 162px;
    border-radius: 50%;
    border-style: solid;
    border-width: 20px;
    border-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TIMELINE */

.little-title2{
    color: var(--main-color);
    font-family: 'Righteous', 'cursive';
    font-size: 22px;
    padding-top: 60px;
}

.timeline-container{
    margin-left: auto;
    margin-right: auto;
}

.first-time-element{
    border-right-style: solid;
    border-width: 3px;
    border-color: var(--main-color);
}

.second-time-element{
    border-left-style: solid;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: var(--main-color);
}

.third-time-element{
    border-right-style: solid;
    border-width: 3px;
    border-color: var(--main-color);
}

.fourth-time-element{
    border-left-style: solid;
    border-top-style: solid;
    border-width: 3px;
    border-color: var(--main-color);
}

.timeline-button-container{
    height: 40px;
}

.timeline-button{
    color: white;
    background-color: var(--main-color);
    border-style: none;
    width: 130px;
}
.row-start-elements, .row-end-elements{
    position: relative;
}

.even-time-elements:before {
    box-shadow: 0 0 0 8px white, 0 0 0 10px var(--main-color);
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 99.9%;
}

/*  SOLUZIONE DI MARCO (ma sballa la posizione)
*/
/* 
.even-time-elements:before {
    box-shadow: 0 0 0 4px white, 0 0 0 6px var(--main-color);
    background: white;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
} */

.odd-time-elements:before {
    box-shadow: 0 0 0 8px white, 0 0 0 10px var(--main-color);
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 0.1%;
}



/* FOOTER */

.footer-container{
    background-image:linear-gradient(to top, black 5%, rgba(0, 0, 0, 0.6) 20%, rgba(0, 0, 0, 0.4) 40%, rgba(0, 0, 0, 0.2) 60%, white), url(./media/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    position: relative;
}

.footer-elements{
    position: absolute;    
    bottom: 10px;
    width: 100%;
}

.verylittle2{
   font-family: 'Righteous', 'cursive';
   font-size: 15px;
   font-weight: 500;
}

.subtitle3{
    color: white;
    font-size: 8px;
}


/* MEDIA QUERY */

@media screen and (min-width: 220px) {
    .maincontainer{
        height: 520px;
    }
    
    .cards-row{
        margin-top: 80px;
    }
}

@media screen and (min-width: 300px) {
    .little-title{
        font-size: 25px;
        padding-top: 80px;
    }

    .cards-row{
        margin-top: 40px;
    }
    
    .card{
        height: 200px;
    }
}

@media screen and (min-width: 576px) {
    .header-element{
        padding-top: 50px;
    }

    .maincontainer{
        height: 600px;
    }
    
    .little-title{
        font-size: 30px;
        padding-top: 135px;
    }
    
    .little-title2{
        font-size: 30px;
        padding-top: 100px;
    }
    
    .c-d-first-row{
        margin-left: 70px!important;
    }

    .c-d-second-row{
        margin-left: 100px!important;
    }
    
    .c-d-third-row{
        margin-right: 70px!important;
    }

    .c-d-fourth-row{
        margin-right: 100px!important;
    }

    .d-section-row{
        justify-content: end;
    }
}

@media screen and (min-width: 768px) {
    .maincontainer{
        height: 610px;
    }

    .c-d-first-row{
        margin-left: 90px!important;
    }

    .c-d-second-row{
        margin-left: 120px!important;
    }
    
    .c-d-third-row{
        margin-right: 70px!important;
    }

    .c-d-fourth-row{
        margin-right: 120px!important;
    }

    .c-d-sections-cards3{
        width: 150px;
    }

    .c-d-second-row-width{
        width: 200px!important;
    }

    .first-time-element{
        padding-left: 30px;
        width: 50%;
    }
    
    .second-time-element{
        border-left-style: solid;
        border-top-style: none;
        border-bottom-style: none;
        border-width: 3px;
        border-color: var(--main-color);
        padding-right: 30px;
        width: 50.3%;
    }

    .third-time-element{
        padding-left: 30px;
        width: 50%;
    }
    
    .fourth-time-element{
        border-left-style: solid;
        border-top-style: none;
        border-width: 3px;
        border-color: var(--main-color);
        padding-left: 30px;
        padding-right: 30px;
        width: 50.3%;
    }

    .row-end-elements{
        flex-direction: row-reverse;
    }
    
    .even-time-elements:before {
        right: 50.1%;
    }

    .odd-time-elements:before {
        right: 50.1%;
    }
}

@media screen and (min-width: 992px) {
    .little-title{
        font-size: 30px;
        padding-top: 150px;
    }

    .maincontainer{
        height: 600px;
    }

    .header-element{
        padding-top: 70px;
        padding-left: 50px;
    }

    .c-d-first-row{
        margin-left: 120px!important;
    }

    .c-d-second-row{
        margin-left: 150px!important;
    }

    .c-d-third-row{
        margin-right: 120px!important;
    }

    .c-d-fourth-row{
        margin-right: 150px!important;
    }

    .cards-row{
        margin-top: 60px;
    }

    .second-time-element{
        width: 50.2%;
    }
    
    .fourth-time-element{
        width: 50.2%;
    }

    .odd-time-elements{
        height: 150px;
    }

    .even-time-elements{
        height: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .little-title{
        font-size: 35px;
        padding-top: 170px;
    }

    .margin-top-cards{
        margin-top: 100px!important;
    }
    
    .c-d-first-row{
        margin-left: 150px!important;
    }

    .c-d-second-row{
        margin-left: 200px!important;
    }
    
    .c-d-third-row{
        margin-right: 150px!important;
    }

    .c-d-fourth-row{
        margin-right: 200px!important;
    }

}

@media screen and (min-width: 1400px) {
    .little-title{
        font-size: 35px;
        padding-top: 190px;
    }

    .c-d-first-row{
        margin-left: 180px!important;
    }

    .c-d-second-row{
        margin-left: 250px!important;
    }

    .c-d-third-row{
        margin-right: 180px!important;
    }

    .c-d-fourth-row{
        margin-right: 250px!important;
    }

    .second-time-element{
        width: 50.15%;
    }
    
    .fourth-time-element{
        width: 50.15%;
    }
}